<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">

<h2> Edit Payment </h2>
  <%#= form_for @payment, :url => payment_path(@payment), :method => 'PUT', :html => {:id => 'cvvForm'} do |f| %>
<%= render "form" %>
<%end%>
</div>
</div>